@import "./organisms/header/header";
@import "./organisms/generalInformation/generralInformation";
@import "./organisms/targets-more/targets-more";
@import "./organisms/your-quotes/your-quotes";
@import "./atoms/toogle/_toogle";
@import "./atoms/select/select";
@import "./organisms/yoy-revenue/yoy-revenues";
@import "./molecules/amount-gold/amount-gold";
@import "./molecules/pagination/pagination";
@import "./molecules/modal-comission/modal-commission";
@import "./atoms/btn-exit/btn-exit";
@import "./molecules/modal-offers/modal-offers";

body {
  background-color: #01273b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-y: auto;
}

.container {
  max-width: 1536px;
  background-color: #f6f8fa;
  margin-left: auto;
  margin-right: auto;
}

.blue {
  color: #4eb0d7;
}

.red {
  color: #ff6a6a;
}

.violet {
  color: #8c54ff;
}

.fb-50 {
  flex-basis: 50%;
}

.ls-0 {
  letter-spacing: 0;
}

.black {
  color: #28323a;
}

.modal-back {
  position: fixed;
  display: none;
  background-color: rgba(1, 39, 59, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  overflow-y: auto;
  padding: 20px;
}

.open-modal {
  display: flex;
}
