.your-quotes {
  &__wrapper {
    padding: 20px 50px 20px 50px;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
  }

  &__big-card {
    padding: 29px 30px 29px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #cccccc1a;
    border: 1px solid #e1e2e5;
  }

  &__big-card-header {
    padding-bottom: 18.36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #e0e7ff;
  }

  &__big-card-title {
    text-transform: uppercase;
    font-weight: 600;
  }

  &__big-card-check-quotes {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 44.5px;
  }

  &__big-card-label-check {
    font-size: 15px;
    color: #3d3d3d;
    margin-right: 5px;
  }

  &__big-card-check {
    margin-right: 5px;
  }

  &__big-card-label-check_blue {
    color: #508ff4;
  }

  &__big-card-label-select {
    text-transform: uppercase;
    font-size: 12px;
    color: #28323a;
    margin-right: 15.5px;
  }

  &__big-card-main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 18px;
    justify-content: space-between;
  }

  &__small-card {
    background-color: #ffffff;
    box-shadow: 0px 3px 2px #00000021;
    border: 2px solid #f6f8fa;
    border-radius: 5px;
    flex-basis: 23.15%;
    max-height: 192px;
    height: 100%;
    max-width: 266px;
    width: 100%;
    min-width: 220px;
    margin-bottom: 30px;
  }

  &__small-card:not(:nth-child(4n + 4)) {
    margin-right: 10px;
  }

  &__small-card-wrapper {
    padding: 12px 8px 16px 8px;
  }

  &__small-card-sticker {
    border-radius: 10px;
    background-color: #e5f3f9;
    font-weight: 600;
    font-size: 10px;
    color: #000000;
    width: max-content;
    padding: 5px 8px 3px;
    margin-bottom: 13px;
  }

  &__small-card-sticker_peach {
    background-color: #ff6a6a26;
  }

  &__small-card-sticker span {
    opacity: 0.5;
  }

  &__small-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__small-card-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__small-card-items-list {
    display: flex;
    margin-bottom: 21px;
  }

  &__small-card-keys {
    font-weight: 600;
    font-size: 10px;
    color: #000000;
    margin-right: 9px;
  }

  &__small-card-keys p:not(:last-child) {
    margin-bottom: 6px;
  }

  &__small-card-propertys {
    font-size: 10px;
    color: #000000;
  }

  &__small-card-propertys p:not(:last-child) {
    margin-bottom: 6px;
  }

  &__small-card-price {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
  }

  &__small-card-footer {
    display: flex;
  }

  &__small-card-commissin-price {
    display: flex;
    margin-left: 2px;
  }

  &__small-card-unit-com {
    margin-left: 3px;
  }

  @media (max-width: 1200px) {
  }
}
