.amount-gold {
  position: relative;
  width: max-content;
  &__value {
    color: #28323a;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 14px;
    font-weight: 800;
    width: max-content;
    padding: 9px 23px 9px 49px;
    border-radius: 5px;
    z-index: 1;
  }

  &__value span {
    font-size: 22px;
  }

  &__ico {
    background-image: url("/src/img/main/generalImformation/gold.png");
    width: 59px;
    height: 59px;
    display: block;
    position: absolute;
    z-index: 2;
  }
}

.amount-gold i {
}
