.targets-more {
  &__wrapper {
    padding: 24px 50px 0 50px;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    text-align: center;
    color: #28323ab3;
    font: normal normal normal 24px/29px Arial;
    margin-bottom: 48px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__item-card-out {
  }

  &__item-card {
    flex: 1 1 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  &__card-wrapper {
    padding: 26px 29px 22px 30px;
    background-color: #ffffff;
    box-shadow: 0px 5px 25px #c4c8d066;
    border-radius: 10px;
    margin-bottom: 26px;
  }

  &__card-wrapper_pad-big {
    padding-top: 32px;
  }

  &__card-title {
    font-size: 16px;
    font-weight: 600;
    color: #28323a;
    text-shadow: -6.06px 4px 101px #0000000d;
    text-transform: uppercase;
  }

  &__card-content {
    display: flex;
    justify-content: space-between;
  }

  &__card-left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 18px;
  }

  &__card-left-column p {
    color: #5a5a5a;
    text-shadow: -6.06px 4px 101px #0000000d;
    font: normal normal normal 14px/18px Arial;
    letter-spacing: 1.4px;
    margin-bottom: 8px;
  }

  &__card-left-column .value {
    color: #b766b9;
    font-weight: 600;
    font-size: 30px;
    text-shadow: -6.06px 4px 101px #0000000d;
    display: flex;
  }

  &__card-middle-column {
    margin: 0 10px;
  }

  &__card-middle-column-value {
    font-size: 30px;
    text-shadow: -6.06px 4px 101px #0000000d;
  }

  &__card-middle-column p {
    font-size: 10px;
    letter-spacing: 1px;
    text-shadow: -6.06px 4px 101px #0000000d;
    text-transform: uppercase;
    color: #8097b1;
  }

  &__card-right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__card-right-colum-money {
    margin-bottom: 36px;
  }

  &__card-right-colum-money .value {
    display: flex;
    font: normal normal bold 30px/20px Arial;
    color: #000000;
    text-shadow: -6.06px 4px 101px #0000000d;
  }

  &__card-right-colum-money p {
    color: #5a5a5a;
    text-shadow: -6.06px 4px 101px #0000000d;
    letter-spacing: 1.4px;
    text-align: center;
    // margin-top: 90px;
    margin-bottom: 17px;
  }

  &__card-promise {
    background-color: #f3edff;
    padding: 11.5px 10px 9.5px 10px;
    cursor: pointer;
    // margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__card-promise-label {
    font-size: 10px;
    text-transform: uppercase;
    color: #5a5a5a;
    letter-spacing: 1px;
  }

  &__card-promise-value {
    font-size: 20px;
    letter-spacing: 0.63px;
    color: #5a5a5a;
    font-weight: 600;
    text-align: center;
  }

  &__card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #e0e7ff;
    padding-bottom: 16.55px;
  }

  &__card-ico {
    margin-right: 6px;
    width: 22px;
    height: 22px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__card-title {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
  }
  &__card-sort-el {
    display: flex;
    align-items: center;
    // flex-grow: 1;
    margin-left: auto;
    max-width: 264px;
  }

  &__card-sort-label {
    margin-right: 15.5px;
    white-space: nowrap;
  }

  &__card-main {
    padding: 21px 0 15.4px 0;
    display: flex;
    justify-content: space-between;
  }

  &__card-main-item_mr-47 {
    margin-right: 47px;
  }

  &__card-main-item_mr-28 {
    margin-right: 28px;
  }

  &__card-main-item .title {
    letter-spacing: 0.44px;
    color: #28323a;
    margin-bottom: 15px;
  }

  &__card-main-item .value {
    letter-spacing: 1.19px;
    color: #28323a;
    font-size: 38px;
    font-weight: 600;
    display: flex;
  }

  &__card-main-item .value.second {
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0.75px;
    color: #28323a;
    display: flex;
  }

  &__card-footer {
    padding-top: 10px;
  }

  &__card-footer-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #508ff4;
    width: fit-content;
    cursor: pointer;
  }

  &__card-footer-ico {
    background-image: url("/src/img/main/targets_more/question_i.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    margin-right: 7px;
  }

  &__card-promise.commissions {
    padding: 20.5px 10px 17.5px;
    margin-top: 7px;
    margin-bottom: 15px;
    text-align: center;
    box-sizing: border-box;
  }

  &__card-promise.commissions span {
    margin-bottom: 7px;
  }

  &__card-main.offers-main {
    display: block;
    padding-top: 17.5px;
    padding-bottom: 0;
    margin-bottom: 7px;
  }

  &__card-main-item .text {
    font-weight: 400;
    color: #5a5a5a;
  }

  &__card-main-item.offers-item {
    padding: 17px 17px 17px 23px;
    background-color: #f6f8fa;
  }

  &__card-main-item .text-bold {
    font: normal normal bold 14px/19px Arial;
    color: #5a5a5a;
  }

  @media (max-width: 1200px) {
    &__cards {
      justify-content: center;
    }

    &__item-card {
      flex-basis: 60%;
      min-width: 570px;
    }
  }

  @media (max-width: 650px) {
    &__wrapper {
      padding: 20px 20px;
    }
    &__item-card {
      min-width: unset;
    }

    &__card-wrapper {
      padding: 15px 20px;
    }

    &__card-title {
      margin-bottom: 5px;
    }

    &__card-content {
      flex-direction: column;
    }

    &__card-header {
      flex-direction: column;
      align-items: baseline;
    }

    &__card-header div:not(:last-child) {
      margin-bottom: 7px;
    }

    &__card-main {
      flex-direction: column;
    }

    &__card-main-item:not(:last-child) {
      margin-bottom: 10px;
      border-bottom: solid 1px #e0e7ff;
      padding-bottom: 5px;
    }

    &__card-main-item.offers-item {
      padding: 17px 17px 17px 23px;
      background-color: #f6f8fa;
    }

    &__card-main-item .title {
      margin-bottom: 5px;
    }

    &__card-left-column .value {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }

    &__card-middle-column {
      display: flex;
      justify-content: center;
    }

    &__card-right-column {
      align-items: center;
    }

    &__card-right-column p {
      margin-top: 10px;
    }

    &__card-promise {
      width: 100%;
    }

    &__card-sort-el select {
      // width: 100%;
    }
  }
}

.bookings-card {
  background-image: url("/src/img/main/targets_more/bookings_i.png");
}

.money-card {
  background-image: url("/src/img/main/targets_more/money_i.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.offers-wrap {
  padding-bottom: 30px;
}

.offers {
  background-image: url("/src/img/main/targets_more/offers.png");
}

.offers-item:not(:last-child) {
  margin-bottom: 8px;
}

.text-bold.link {
  color: #508ff4;
}

.text-big {
  font: normal normal normal 15px/20px Arial;
}

.text-small {
  font: normal normal normal 14px/19px Arial;
}

// ffffffffffffff

.canvas-text {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: #000000;
  text-shadow: -6.06px 4px 101px #0000000d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvas-text #procent {
  margin-bottom: 4.93px;
}

.target-text {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: -6.06px 4px 101px #0000000d;
  text-transform: uppercase;
  color: #8097b1;
}

span#percent::after {
  content: "%";
}

.canvas-wrap {
  position: relative;
  // width: 218px;
  // height: 218px;
}

#canvas {
  // width: 218px;
  // height: 218px;
}
