.general-information {
  &__wrapper {
    padding-left: 152px;
    padding-right: 194px;
    padding-top: 33.5px;
    padding-bottom: 40px;
    position: relative;
  }

  &__amount-gold {
    margin-right: 210px;
  }

  &__amount-gold {
    margin-left: auto;
  }

  &__user {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: center;
    margin-bottom: 60px;
  }

  &__user-name {
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__user p {
    color: #ffffff;
    color: #ffffff;
    font-size: 22px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item-card {
    width: 275px;
    height: 240px;
    min-width: 275px;
    background-color: #ffffff;
    box-shadow: 0px 5px 25px #52575d1a;
    border-radius: 10px;
    padding-top: 41px;
    box-sizing: border-box;
  }

  &__card-ico {
    width: 59px;
    height: 59px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
}

.general-information .container {
  background-image: url("/src/img/main/generalImformation/Ross-castle2.png");
  // background-size: cover;
  background-repeat: no-repeat;
  background-color: #f6f8fa;
}

.general-information-cards__item:not(:last-child) {
  margin-right: 30px;
}

.location {
  background-image: url("/src/img/main/generalImformation/location_i.png");
}

.bookings {
  background-image: url("/src/img/main/generalImformation/bookings_i.png");
}

.persent {
  background-image: url("/src/img/main/generalImformation/persent_i.png");
}

.target {
  background-image: url("/src/img/main/generalImformation/target_i.png");
}
.general-information__card-text {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.general-information__card-text span {
  font-size: 60px;
  margin-bottom: 10px;
}

.general-information__card-text p {
  margin-top: 10px;
}
