.general-information {
  & .container {
    background-image: url("/src/img/main/generalImformation/Ross-castle2.png");
    // background-size: cover;
    background-repeat: no-repeat;
    background-color: #f6f8fa;
  }

  &__wrapper {
    padding-top: 33.5px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 1190px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  &__amount-gold {
    right: 0;
    margin-right: 210px;
  }

  &__amount-gold {
    margin-left: auto;
  }

  &__user {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: center;
    margin-bottom: 57px;
  }

  &__user-name {
    color: #ffffff;
    font: normal normal bold 36px/34px Arial;
    margin-bottom: 4px;
  }

  &__user p {
    color: #ffffff;
    color: #ffffff;
    font: normal normal bold 22px/34px Arial;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__item-card {
    min-width: 245px;
    padding: 0 15px;
    flex: 1 1 25%;
    box-sizing: border-box;
  }

  &__item-wrapper {
    background-color: #ffffff;
    box-shadow: 0px 5px 25px #52575d1a;
    border-radius: 10px;
    padding: 40px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 240px;
  }

  &__card-ico {
    width: 59px;
    height: 59px;
    display: block;
    margin-bottom: 10px;
    background-size: cover;
  }

  &__card-text {
    text-align: center;
    white-space: nowrap;
    font: normal normal bold 60px/69px Arial;
    letter-spacing: 1.88px;
  }

  &__card-text_small {
    // font: normal normal bold 50px/58px Arial;
    letter-spacing: 0px;
  }

  &__card-text span {
    margin-bottom: 10px;
  }

  &__card-text p {
    font: normal normal bold 14px/22px Arial;
    letter-spacing: 0px;
  }

  @media (max-width: 1200px) {
    &__item-card {
      flex-basis: 40%;
      margin-right: unset;
      margin-bottom: 30px;
    }

    &__user {
      margin-top: 65px;
      width: auto;
    }
  }

  @media (max-width: 576px) {
    &__wrapper {
      padding: 20px 20px;
    }

    &__item-card {
      flex-basis: 100%;
    }
  }
}

.location {
  background-image: url("/src/img/main/generalImformation/location_i.png");
}

.bookings {
  background-image: url("/src/img/main/generalImformation/bookings_i.png");
}

.persent {
  background-image: url("/src/img/main/generalImformation/persent_i.png");
}

.target {
  background-image: url("/src/img/main/generalImformation/target_i.png");
}
