.header__wrapper {
  padding: 43px 194px 0 152px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header__logo {
  display: block;
  background-image: url(/src/img/header/logo-AV-dash.png);
  height: 28.95px;
  width: 395.87px;
  margin-top: -8px;
}

.header__quotes {
  margin-left: auto;
  margin-right: 31px;
  color: #ff6a6a;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.header__quotes-count {
  height: 22px;
  width: 22px;
  background-color: #ff6a6a;
  color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header__user-menu-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.header__user-menu-list a {
  text-decoration: none;
  color: #508ff4;
}

.header_user-menu-item:not(:last-child) {
  margin-right: 15px;
}

.navigation {
  width: 100%;
  background-color: #ffffff;
}

.navigation__item-list {
  display: flex;
}

.navigation__link {
  text-decoration: none;
  color: #707070;
  padding: 15px 16px;
}

.navigation__link:hover {
  display: inline-block;
  // box-sizing: border-box;
  background-color: #508ff4;
  color: #ffffff;
  // font-weight: 600;
  // padding: 15px 9px 15px 16px;
}
